
<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Categoria</h2>
		
		<ul>
			<li><a href="<%=new_event_category_path(@event)%>">Nova categoria</a></li>
		</ul>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	
		<form action="" method="post">
		
			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
			
				<thead>
					<tr>
						<th>Nome</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</thead>
				
				<tbody>
				  <% @categories.each do |category| %>
				  <tr>
				    <td><%= category.name %></td>
				    <td><%= link_to 'Visualizar', [@event, category] %></td>
				    <td><%= link_to 'Editar', edit_event_category_path(@event, category) %></td>
				    <td><%= link_to 'Excluir', [@event, category], :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
				  </tr>
				  <% end %>
				</tbody>
				
			</table>
			
		</form>
		
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->
